<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <pages>
      <namespaces>
        <add namespace="" />
      </namespaces>
    </pages>
  </system.web>
  <appSettings>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>