<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <pages>
      <namespaces>
        <add namespace="" />
      </namespaces>
    </pages>
  </system.web>
  <appSettings>
    <add key="settings_region" value="tr" />
    <add key="gameId1" value="408625031" />
    <add key="gameId2" value="409990703" />
    <add key="teamId1" value="TEAM-6e7878e0-31a6-11e6-b7db-d4ae527241a0"/>
    <add key="teamId2" value="TEAM-fad434e0-3198-11e6-b7db-d4ae527241a0" />
    <add key="summonerName1" value="Kesintisiz" />
    <add key="summonerName2" value="Mamarutr TGS" />
    <add key="summonerId1" value="466244" />
    <add key="summonerId2" value="241164" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>